.NextPage {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
.landing-img {
  display: flex;
  width: 100%;

  justify-content: space-between;
}
.left-box {
  widows: 50%;
  height: 100vh;
}
.right-box {
  width: 50%;
}
.img {
  width: 100%;
  height: 100%;
}
.MainBox {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.InputBox {
  width: 80%;
}
.Container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  width: 100%;
}
.button {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
}

.Card {
  width: 30%;

  background-color: white;
  box-shadow: 0px 4px 10px -2px #aaa;
  display: flex;
  margin: 10px 5px;

  justify-content: space-around;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .button {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .Card {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 4px 10px -2px #aaa;
    display: flex;
    margin: 10px 0px;
    justify-content: space-around;
  }
  .landing-img {
    display: flex;
    width: 100%;
    flex-direction: column;

    justify-content: space-between;
  }
  .left-box {
    widows: 100%;
    height: 30vh;
  }
  .right-box {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
